{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Your Orders</h1>
    <div class="row">
        {% if order_placed %}
            {% for order in order_placed %}
                <div class="col-md-4 mb-4"> <!-- Three cards in a row -->
                    <div class="card">
                        <img src="{{ order.product.Product_image.url }}" class="card-img-top w-100 h-75" 
                             alt="{{ order.product.title }}" 
                             onerror="this.onerror=null;this.src='{% static 'images/default_image.jpg' %}'">
                        <div class="card-body">
                            <h4 class="card-title">{{ order.product.title }}</h4>
                            <p class="card-text"><strong>Quantity:</strong> {{ order.quantity }}</p>
                            <p class="card-text"><strong>Status:</strong> {{ order.status }}</p>
                            <p class="card-text"><strong>Order Date:</strong> {{ order.ordered_date|date:"M d, Y H:i" }}</p>
                            <p class="card-text"><strong>Total Cost:</strong> Rs. {{ order.total_cost }}</p>
                            
                            <!-- Add the Download Invoice link for delivered orders -->
                            {% if order.status == "Delivered" %}
                                <a href="{% url 'download_invoice' order.id %}" class="btn btn-primary">Download Invoice</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
